CIGreen.x
test/FCIDUMP_1e.out
test/FCIDUMP_3e.out
test/FCIDUMP.out
gitver.o
Input_commands.o
main.o
String_ops.o
CIGreen.tar.gz
io.o
gitver.cpp
fcidump_sw
fcidump_u2d
*.swp
Gpq.o
Mathematical_Functions.o
